<br><h3>Find Policy By Name</h3><br>
<div style="width: 300px;" class="sform">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="policyName">Policy Name</label>
      <select  class="form-control" id="policyName" required [(ngModel)]="policyName" name="policyName">
        <option value="Health">Health</option>
        <option value="Lic">Lic</option>
        <option value="Home">Home</option>
        <option value="Property">Property</option>
        <option value="Travel">Travel</option>
        <option value="Retirement">Retirement</option>
        <option value="Vehicle">Vehicle </option>
        <option value="Disability">Disability</option>
        <option value="Flood">Flood</option>
        <option value="Business">Business</option>
        </select>
      
    </div>
 
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<br/>
<div>

    <div [hidden]="!submitted">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Policy Id</th>
                    <th>Policy Name</th>
                    <th>Policy Type</th>
                    <th>Policy Duration</th>
                    <th>Policy amount</th>
                </tr>
              </thead>
        <tbody>
            <tr *ngFor="let policy of policies">
                <td>{{policy.id}}</td>
                <td>{{policy.policyName}}</td>
                <td>{{policy.policyType}}</td>
                <td>{{policy.duration}}</td>
                <td>{{policy.amount}}</td>
          </tr>
        </tbody>
        </table>
        </div>
        </div>  

