<br><h3>User Registration</h3><br>
<div class="col-md-6 mx-auto">
<div class="card rounded-0">
<div class="card-body">
<div [hidden]="submitted" style="width: 500px;" class="cform">
  <form (ngSubmit)="onSubmit()" #userform="ngForm">

    <h3  [class.text-danger]="msg.status==500">{{msg.message}}</h3>
    <div class="form-group">
        <label for="id">User Id</label>
        <input type="text" class="form-control" id="userId" required [(ngModel)]="user.userId" 
        name="userId" #userId="ngModel" [class.is-invalid]="userId.invalid && userId.touched" placeholder="Enter User Id">
         <small class="text-danger" [class.d-none]="userId.valid || userId.untouched">User Id is required</small> 
      </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName" 
      name="firstName" #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched" placeholder="Enter First Name">
       <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name is required</small> 
    </div>
 
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastName" 
        name="lastName" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched" placeholder="Enter Last Name">
         <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is required</small> 
      </div>
   
    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" class="form-control" id="age" required [(ngModel)]="user.age"
       name="age" #age="ngModel" [class.is-invalid]="age.invalid && age.touched" pattern="^\d{2}$" placeholder="Enter Age">
      <div *ngIf="age.errors && (age.invalid || age.touched)">
         <small class="text-danger" *ngIf="age.errors.required">Age is required</small>      
        <small class="text-danger" *ngIf="age.errors.pattern">Age must be two digits</small>       
      </div>
    </div>
 
    <div class="form-group">
        <label>Gender</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" value="MALE" [(ngModel)]="user.gender"
           #gender="ngModel" required > 
          <label class="form-check-label">Male</label>
         </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" value="FEMALE" [(ngModel)]="user.gender" 
          #gender="ngModel" required>
          <label class="form-check-label">Female</label>
        </div>
        <div *ngIf="gender.invalid && gender.untouched" class="text-danger"> 
          Gender is required
       </div>
      </div>
 
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" 
        name="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" placeholder="Enter Password">
         <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small> 
      </div>

      <div class="form-group">
        <label for="cpassword">Confirm Password</label>
        <input type="password" class="form-control" id="cpassword" required [(ngModel)]="user.cpassword" 
        name="cpassword" #cpassword="ngModel" [class.is-invalid]="cpassword.invalid && cpassword.touched" placeholder="Enter Confirm Password">
         <small class="text-danger" *ngIf="cpassword.invalid && cpassword.touched">Confirm Password is required </small>
        <small class="text-danger" *ngIf="cpassword.value!=password.value ">Password & Confirm password should be same</small> 
      </div>

      <div class="form-group">
        <label>Mobie Number</label>
        <input type="tel" class="form-control" name="phone" #phone=ngModel [(ngModel)]="user.phone" required 
        pattern="^\d{10}$"  [class.is-invalid]="phone.invalid && phone.touched" placeholder="Enter Mobile Number"> 
        <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
            <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>      
           <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>       
         </div>
         </div>

    <button type="submit" class="btn btn-success" [disabled]="userform.form.invalid">Submit</button>
    <button type="button" (click)="goToLogin()" class="btn btn-success float-right">Login</button>
  </form>
</div>
</div>
 </div>
</div>
