<h3>List of Policies</h3><br><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Policy Id</th>
      <th>Policy Name</th>
      <th>Policy Type</th>
      <th>Policy Duration</th>
      <th>Policy amount</th>
      <th>Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let policy of policies | async">
       <td>{{policy.id}}</td>
       <td>{{policy.policyName}}</td>
       <td>{{policy.policyType}}</td>
       <td>{{policy.duration}}</td>
       <td>{{policy.amount}}</td>
       <td><span class="button is-small btn-success" (click)="editPolicy(policy)">Edit</span> 
        <span class="button is-small btn-danger" (click)="deletePolicy(policy)">Delete</span></td>
    </tr>
  </tbody>
</table>
