<br><h3>Login Form</h3>
<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>  
        <!-- form card login -->
        <div class="card rounded-0">
         
          <div class="card-body">
            <form class="form" #loginform="ngForm">
              <small class="text-danger">{{message}}</small>
              <h3 class="text-success">{{registration}}</h3>
              <div class="form-group">
                <label for="userId">User Id</label>
                <input type="text" class="form-control" id="userId" required [(ngModel)]="user.userId" 
        name="userId" #userId="ngModel" [class.is-invalid]="userId.invalid && userId.touched" placeholder="Enter User Id">
         <small class="text-danger" [class.d-none]="userId.valid || userId.untouched">User Id is required</small> 
                
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" 
        name="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" placeholder="Enter Password">
         <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" name="remember"> Remember me</label>
              </div>
              <button type="button" (click)="loginUser()" class="btn btn-success" [disabled]="loginform.form.invalid">Login</button><br><br>
              <button type="button" (click)="goToRegister()" class="btn btn-success float-right">Sign up</button>
            </form>
          </div>
          <!--/card-block-->
          
        </div>
        <!-- /form card login -->  
        
      </div>   
    </div>
    
  </div>
