<h3>Create Policy</h3>
<div [hidden]="submitted" style="width: 500px;" class="cform">
  <form (ngSubmit)="onSubmit()" #policyform="ngForm">
    <div class="form-group">
      <label for="policyName">Policy Name</label>   
      <select  class="form-control" id="policyName" required [(ngModel)]="policy.policyName" name="policy.policyName">
        <option value="Health">Health</option>
        <option value="Lic">Lic</option>
        <option value="Home">Home</option>
        <option value="Property">Property</option>
        <option value="Travel">Travel</option>
        <option value="Retirement">Retirement</option>
        <option value="Vehicle">Vehicle </option>
        <option value="Disability">Disability</option>
        <option value="Flood">Flood</option>
        <option value="Business">Business</option>
        </select>
      
    </div>


    <div class="form-group">
      <label for="policyType">Policy Type</label>
      <select class="form-control" id="policyType" required [(ngModel)]="policy.policyType"
       name="policyType" #policyType="ngModel" [class.is-invalid]="policyType.invalid && policyType.touched">
       <small class="text-danger" [class.d-none]="policyType.valid || policyType.untouched">Policy Type is required</small>  
       <option value="Health Insurance">Health Insurance</option>
       <option value="Life Insurance">Life Insurance</option>
       <option value="Home Insurance">Home Insurance</option>
       <option value="Property Insurance">Property Insurance</option>
       <option value="Travel Insurance">Travel Insurance</option>
       <option value="Retirement Plans">Retirement Plans</option>
       <option value="Vehicle Insurance">Vehicle Insurance</option>
       <option value="Disability Insurance">Disability Insurance</option>
       <option value="Flood Insurance">Flood Insurance</option>
       <option value="Business Insurance">Business Insurance</option>
      
      </select> 
      </div>

 
    <div class="form-group">
        <label for="duration">Policy Duration</label>
        <select class="form-control" id="duration" required [(ngModel)]="policy.duration"
         name="duration" #duration="ngModel" [class.is-invalid]="duration.invalid && duration.touched">
         <option value="One Year">One Year</option>
         <option value="Two Years">Two Years</option>
         <option value="Three Years">Three Years</option>
         <option value="Four Years">Four Years</option>
         <option value="Five Years">Five Years</option>
         <option value="Six Years">Five Years</option>
         <option value="Seven Years">Five Years</option>
         <option value="Eight Years">Five Years</option>
         <small class="text-danger" [class.d-none]="duration.valid || duration.untouched">Policy Duration is required</small>  
        </select> 
        </div>
 
       <div class="form-group">
        <label for="amount">Policy Amount</label>
        <select class="form-control" id="amount" required [(ngModel)]="policy.amount"
         name="amount" #amount="ngModel" [class.is-invalid]="amount.invalid && amount.touched">
         <option value=1000>1000</option>
         <option value=2000>2000</option>
         <option value=1000>3000</option>
         <option value=4000>4000</option>
         <option value=5000>5000</option>
         <option value=6000>6000</option>
         <option value=7000>7000</option>
         <option value=8000>8000</option>
         <option value=9000>9000</option>
         <option value=10000>10000</option>
         <small class="text-danger" [class.d-none]="amount.valid || amount.untouched">Policy amount is required</small> 
         </select>
      </div>  
   
    <button type="submit" class="btn btn-success" [disabled]="policyform.form.invalid">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <div class="row justify-content-center">
    <button type="submit" class="btn btn-success" (click)="newPolicy()">Add</button>
  </div>
</div>
