<h3>Edit Policy</h3>

<form (ngSubmit)="onUpdate()" class="uform">
 
    <div class="form-group">
        <label for="id">Policy Id</label>
        <input type="text" class="form-control" id="id"  [(ngModel)]="policy.id" name="id" readonly>
      </div>

      <div class="form-group">
        <label for="name">Policy Name</label>
        <input type="text" class="form-control" id="policyName"  [(ngModel)]="policy.policyName" name="policyName">
      </div>

      <div class="form-group">
        <label for="name">Policy Type</label>
        <select class="form-control" id="policyType" required [(ngModel)]="policy.policyType"
       name="policyType" #policyType="ngModel" [class.is-invalid]="policyType.invalid && policyType.touched">
       <option value="Health Insurance">Health Insurance</option>
       <option value="Life Insurance">Life Insurance</option>
       <option value="Home Insurance">Home Insurance</option>
       <option value="Property Insurance">Property Insurance</option>
       <option value="Travel Insurance">Travel Insurance</option>
       <option value="Retirement Plans">Retirement Plans</option>
       <option value="Vehicle Insurance">Vehicle Insurance</option>
       <option value="Disability Insurance">Disability Insurance</option>
       <option value="Flood Insurance">Flood Insurance</option>
       <option value="Business Insurance">Business Insurance</option>
    
      </select> 
      </div>

      <div class="form-group">
        <label for="name">Policy Duration</label>
        <select  class="form-control" id="duration"  [(ngModel)]="policy.duration" name="duration">
          <option value="One Year">One Year</option>
         <option value="Two Years">Two Years</option>
         <option value="Three Years">Three Years</option>
         <option value="Four Years">Four Years</option>
         <option value="Five Years">Five Years</option>
         <option value="Six Years">Five Years</option>
         <option value="Seven Years">Five Years</option>
         <option value="Eight Years">Five Years</option>
         </select>
      </div>

      <div class="form-group">
        <label for="name">Policy Amount</label>
        <select class="form-control" id="amount" required [(ngModel)]="policy.amount"
         name="amount" #amount="ngModel" [class.is-invalid]="amount.invalid && amount.touched">
         <option value=1000>1000</option>
         <option value=2000>2000</option>
         <option value=1000>3000</option>
         <option value=4000>4000</option>
         <option value=5000>5000</option>
         <option value=6000>6000</option>
         <option value=7000>7000</option>
         <option value=8000>8000</option>
         <option value=9000>9000</option>
         <option value=10000>10000</option>
         </select>
      </div>

      <button type="submit" class="btn btn-success">Update</button>
    </form>
  