<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="" class="navbar-brand">Policy Management System</a></div>
 
        <ul class="navbar-nav">
            <li> <a *ngIf="!isUserLoggedIn()" routerLink="register" class="nav-link"  routerLinkActive="active">Registration</a></li>
            <li><a *ngIf="!uname" routerLink="/login" class="nav-link">Login</a></li>
            <li> <a *ngIf="uname" routerLink="add" class="nav-link"  routerLinkActive="active">Add Policy</a></li>
            <li> <a *ngIf="uname" routerLink="policy" class="nav-link"  routerLinkActive="active">View Policies</a></li>
            <li> <a *ngIf="uname" routerLink="search" class="nav-link"  routerLinkActive="active">Search Policies</a></li>
        </ul> 
        
        <ul class="navbar-nav ml-auto">
            <li><span  class="navbar-text text-primary">
                Welcome {{uname}} </span></li> 
            <li><a *ngIf="uname" routerLink="/logout" class="nav-link">LogOut</a></li>
        </ul> 
    </nav>
</header>
